 <li id="recent_link_<%=chat_partner.id%>" class="<%=cycle('odd', 'even')%>">
	<% if chat_partner.chat_partner_id!=0 %>
		<a  href="javascript:toggleWindows(<%=chat_partner.chat_partner_id%>);"><%= User.find(chat_partner.chat_partner_id).login %></a>
		<div class="chat_remove_button">
			<a href="javascript:removeUser(<%=chat_partner.id%>,<%=chat_partner.chat_partner_id%>);">X</a>
		</div>
	<% else %>
		<a href="javascript:toggleWindows(<%=chat_partner.chat_partner_id%>);">Public</a>
	<% end %>
	<label class="message_counter" id="message_counter_<%=chat_partner.chat_partner_id%>">0</label>
</li>