<% if login? %>
<div class="link" id="window_<%=channel_id%>">
<div id="border" class="<%= channel %>">
			<% if channel!="public"%>
			<a href="javascript:destroy('<%=channel_id%>');">X</a>
			<%end%>
			<label id="chat_header">Chat with <%= channel.capitalize%></label>
<div id="precontainer">
	
<div class="container" id="container_<%= channel %>">
<ul id="list">
	<% if messages %>
  <%= render messages %>
	<% end %>
</ul>


</div>

<%= form_for :create,:url => {:action => "create"}, :remote => true do |f| %>
<%= f.hidden_field  :receiver, :value=>channel %>
  <%= f.text_field :content, :id=>"input_"+channel, :class=>"chat_input" %>
  <%= f.submit "Send >" , :class => "send"%>
<% end %>
</div>

</div>

<%end%>
</div>