
	<script type="text/javascript">
	var chat_partner=<%= @chat_partner %>;
	var last_toggle=chat_partner;
	var unread_messages=new Array();
	
	$(document).ready(function() {
		$(".chat_window").css({
			"height": $('#chat_content').height()-5,
			"width": $('#chat_content').width()-$('#available_chats').width()-5
		});
		$('#chat_window_'+chat_partner).toggle('slow', function() {
			
			$('.message_container').scrollTo( '100%', 1500 );
		});
	});
	</script>
	<div class="column less-full fl">
	  <div class="box">
	    <h2 class="box-header"><%= "Chat" %>
		</h2>
	    <div class="box-content box-table chat-box clearfix">

	      <section id="available_chats">
	        <nav>
			  <ul class="userlist" id="recent_chats">
				<li class="header">
					Kürzliche Chats
				</li>
				<% @recent_chats.each do |chat_partner| %>
					
					<% if chat_partner.chat_partner_id != @current_chat_user.id then %>
						<%= render :partial => "chatmessages/recent_label", :locals=>{:chat_partner=>chat_partner} %>
					<% end %>	
				<% end %>
			  </ul>
	          <ul class="userlist" id="all_contacts">
				<li class="header">
					Alle Kontakte
				
				</li>
	          	<% User.all.each do |user| %>
				<li class="<%=cycle('odd', 'even')%>">
					<a href="javascript:addUser('<%=user.id%>',true);"><%= user.login%></a>
				</li>
				<%end%>
	          </ul>
	        </nav>
	      </section>
			

	      <section id="chat_content">
		<%#= debug @chat_partners%>
			<% @recent_chats.each do |chat_partner| %>	
			
			
				<% if chat_partner.chat_partner_id == 0 then%>
					<% @chat_messages = Chatmessage.find(:all,:conditions => "receiver_id = 0") %>
				<% else %>
					<% 	@chat_messages=Chatmessage.find(:all,:conditions => "creator_id='#{chat_partner.chat_partner_id}' and receiver_id = '#{@current_chat_user.id}' or creator_id='#{@current_chat_user.id}' and receiver_id ='#{chat_partner.chat_partner_id}'") %>
				<% end %>
				
				<% if chat_partner.chat_partner_id != @current_chat_user.id then %>
						<%= render :partial => "chatmessages/chat_form", :locals=>{:channel_id=>chat_partner.chat_partner_id, :messages=>@chat_messages} %>
				<% end %>
				
			
			
			<% end %>


			
				

	        
	      </section>

	    </div>
	  </div>

	</div>



	</div>
