
	<script type="text/javascript">
	var latest_chat_partner=<%= @latest_chat_partner %>+"";
	if (latest_chat_partner==null) {
		latest_chat_partner=0;
	}
	var last_toggle=latest_chat_partner;
	$(document).ready(function() {
		$(".chat_window").css({
			"height": $('#chat_content').height(),
			"width": $('#chat_content').width()-$('#available_chats').width()-2
		});
		$('#chat_window_'+latest_chat_partner).toggle('slow', function() {
			
			$('.message_container').scrollTo( '100%', 1500 );
		});
	});
	</script>
	<div class="column less-full fl">
	  <div class="box">
	    <h2 class="box-header"><%= "Chat" %>
		<% @chat_partners.each do |chat_partner| %>	
			
		<% end %>
		</h2>
	    <div class="box-content box-table chat-box clearfix">

	      <section id="available_chats">
	        <nav>
			  <ul id="recent_chats">
				<li class="header">
					Kürzliche Chats
				</li>
				<% @chat_partners.each do |chat_partner| %>
					<% if chat_partner.chat_partner_id != @current_chat_user.id then %>
						<li class="<%=cycle('odd', 'even')%>">
						<% if chat_partner.chat_partner_id!=0 %>
							<a href="javascript:toggleWindows(<%=chat_partner.chat_partner_id%>);"><%= User.find(chat_partner.chat_partner_id).login %></a>
						<% else %>
							<a href="javascript:toggleWindows(<%=chat_partner.chat_partner_id%>);">Public</a>
						<% end %>
						</li>
					<% end %>	
				<% end %>
			  </ul>
	          <ul id="all_contacts">
				<li class="header">
					Alle Kontakte
				
				</li>
	          	<% User.all.each do |user| %>
				<li class="<%=cycle('odd', 'even')%>">
					<a href="javascript:adduser('<%=user.id%>');"><%= user.login%></a>
				</li>
				<%end%>
	          </ul>
	        </nav>
	      </section>


	      <section id="chat_content">
		<%#= debug @chat_partners%>
			<% @chat_partners.each do |chat_partner| %>	
			
			
				<% if chat_partner.chat_partner_id == 0 then%>
					<% @chat_messages = Chatmessage.find(:all,:conditions => "receiver_id = 0") %>
				<% else %>
					<% 	@chat_messages=Chatmessage.find(:all,:conditions => "creator_id='#{chat_partner.chat_partner_id}' and receiver_id = '#{@current_chat_user.id}' or creator_id='#{@current_chat_user.id}' and receiver_id ='#{chat_partner.chat_partner_id}'") %>
				<% end %>
				
				<% if chat_partner.chat_partner_id != @current_chat_user.id then %>
						<%= render :partial => "chatmessages/chat_form", :locals=>{:channel_id=>chat_partner.chat_partner_id, :messages=>@chat_messages} %>
				<% end %>
				
			
			
			<% end %>


			
				

	        
	      </section>

	    </div>
	  </div>

	</div>



	</div>
