
	<script type="text/javascript">
	var user_id='<%=User.current.id%>';
	</script>
	<div class="column less-full fl">
	  <div class="box">
	    <h2 class="box-header"><%= "Chat" %></h2>
	    <div class="box-content box-table chat-box clearfix">

	      <section id="available_chats">
	        <nav>
			  <ul id="recent_chats">
				<li class="header">
					Kürzliche Chats
				</li>
			  </ul>
	          <ul id="all_contacts">
				<li class="header">
					Alle Kontakte
				
				</li>
	          	<% User.all.each do |user| %>
				<li class="<%=cycle('odd', 'even')%>">
					<a href="javascript:adduser('<%=user.id%>');"><%= user.login%></a>
				</li>
				<%end%>
	          </ul>
	        </nav>
	      </section>


	      <section id="chat_content">
			<% @chat_partners.each do |chat_partner| %>				
					<%= render :partial => "chatmessages/chat_form", :locals=>{:channel_id=>chat_partner.chat_partner_id, :messages=>@chat_messages} %>
			<% end %>


			
				
			</div>
	        
	      </section>

	    </div>
	  </div>

	</div>



	</div>
